.array_field {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.array_field_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
}

.single_field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  width: fit-content;
}

.icon {
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
}

.remove-item {
  border-radius: 5px;
  border: 1px solid #c70000;
  background-color: red;
  color: white;
  vertical-align: top;
}